<div class="container">
<header class="blog-header py-2">
    <div class="row ">
       
      <div class="col-4 pt-1">
          <img src="//placehold.it/50" class="rounded-circle" />
      </div>
      <div class="col-8 d-flex justify-content-end align-items-center">
          <button mat-raised-button routerLink="" (click)="toRegistro()"><fa-icon [icon]="['fa', 'user-plus']"></fa-icon> Registro</button>
          <button mat-raised-button (click)="openDialog()" class="ml-1" routerLink=""><fa-icon [icon]="['fa', 'sign-in-alt']"></fa-icon> Iniciar Sesion</button>
      </div>

    </div>
  </header>
  <div class="jumbotron text-white rounded bg-dark">
    <div class="row">
      <div class="col-12">
        <h2 class="">Bienvenido al Foro TodoMustangMx!</h2>
        <p class="lead my-3">Antes que nada podrias pasar leer las reglas del foro.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continuar leyendo...</a></p>
      </div>
      </div>
    </div>
</div>
