
<header class="blog-header py-2">
    <div class="row ">
       
      <div class="col-4 pt-1">
          <img src="//placehold.it/35" class="rounded-circle" />
      </div>
      <div class="col-8 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary" href="#">Registro</a>
          <a class="btn btn-sm btn-outline-secondary ml-1" href="#">Iniciar Sesion</a>
      </div>

    </div>
  </header>
  <div class="jumbotron text-white rounded bg-dark">
    <div class="row">
      <div class="col-12">
        <h2 class="">Bienvenido al Foro TodoMustangMx!</h2>
        <p class="lead my-3">Antes que nada podrias pasar leer las reglas del foro.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continuar leyendo...</a></p>
      </div>
      </div>
    </div>
 
