.fb {
    background-color: 	#3b5998;

}

.fb:hover{
    background-color: 	#29437c;
}

.yt{
    background-color: 	#FF0000;

}

.yt:hover{
    background-color: 	rgb(179, 0, 0);
}

.ct{
    background-color: 	#222222;

}

.ct:hover{
    background-color: 	rgb(49, 47, 47);
}

.dark-color{
    background-color: #222222;
}

.bottom{
    bottom:0;
}