<!-- Footer -->

<div class="container py-0">
    <footer class="page-footer font-small bg-dark pt-4">
        <div class="footer-copyright text-center py-1">
            <div class="d-flex justify-content-center mb-0">
                <p style="color:aliceblue">Redes sociales:</p> 
        </div>
        </div>
    <div class="footer-copyright text-center py-2">
        <div class="d-flex justify-content-center mb-2">
            <div class="align-self-end">
            <a mat-fab  class="btn btn-secondary fb">
              <i class="fa fa-facebook"> </i>
            </a>
          </div>
          <div class="align-self-end ml-2">
            <a mat-fab  class="btn btn-secondary yt">
              <i class="fa fa-youtube"> </i>
            </a>
          </div>
        
        </div>
    </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center bg-dark text-white pb-0 mb-0">
            <div class="d-flex justify-content-center mb-0 dark-color pt-3">
                <p> © 2018 Copyright: <a href="">TodoMustang.Com.Mx</a></p> 
            </div>
        </div>

    <!-- Copyright -->
  </footer>
</div>

  <!-- Footer -->