<div class="container">
    <a  routerLink="/"> <b>Categorias </b> </a> <fa-icon [icon]="['fas', 'arrow-right']" ></fa-icon> <b> {{titulo}}</b>
    <br>
    <div class="text-center" *ngIf="!vendors">
        <fa-icon [icon]="['fas', 'cog']" [pulse]="true" size="3x"></fa-icon>
        <h3>Cargando</h3>
      </div>
    <div *ngIf="vendors"> 
  <form>
    <div class="form-group">
      <div class="form-group">
          <label for="exampleFormControlSelect1">Vendedor:</label>
          <select [(ngModel)]="vendedor" name="vendedor" class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let vendor of vendors" value="{{vendor.users_id}}">{{vendor.username}}</option>
          </select>
        </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Como calificarias tu experiencia con este vendedor?</label>
      <select [(ngModel)]="rating" name="rating" class="form-control" id="exampleFormControlSelect1">
        <option value="1">Muy Mala</option>
        <option value="2">Mala</option>
        <option value="3" selected>Regular</option>
        <option value="4">Buena</option>
        <option value="5" >Muy Buena</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comentarios:</label>
      <textarea [(ngModel)]="comment" name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
  <div class="row justify-content-md-end">
    <a mat-fab *ngIf="isVendors"  class="btn btn-primary bt m-2"  matTooltip="Calificar" (click)="saveRating()" >
        <fa-icon [icon]="['fa', 'check']"></fa-icon>
    </a>
</div>
<div class="row justify-content-md-center">
  <ngb-alert class="my-1" style="position:absolute;z-index: 999" *ngIf="successMessage" type="{{type}}" (close)="successMessage = null" innerHTML="{{ successMessage }}"></ngb-alert>
</div>
</div>
</div>