<div class="container">
    <a  routerLink="/"> <b>Categorias</b> </a> > <b>{{titulo}}</b>
    <br>
  <form>
    <div class="form-group">
      <div class="form-group">
          <label for="exampleFormControlSelect1">Vendedor:</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Jose Sanchez Carreon</option>
          </select>
        </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Como calificarias tu experiencia con este vendedor?</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Muy Mala</option>
        <option>Mala</option>
        <option selected>Buena</option>
        <option>Muy Buena</option>
        <option>Excelente!</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comentarios:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
</div>