

<div class="container pl-5 pr-5" >
  <div class="text-center" *ngIf="!results">
      <fa-icon [icon]="['fas', 'cog']" [pulse]="true" size="3x"></fa-icon>
      <h3>Cargando</h3>
    </div>
  
  <div *ngIf="results" class="row h-100 justify-content-center align-items-center">
      <div class="row">
        
       
          <div  *ngFor="let result of results;" class="col-12 col-md-4" style="margin-bottom:2em">
            <div (click)="toPosts(result.categories_id,result.title,result.route)" id="{{result.categories_id}}"  class="card list-group-item-action" >
              <div class="text-center">
                <img class="card-img-top" [src]="result.Imagen" onError="src='assets/img/error.png'" alt="Card image cap" style="margin-top: 1rem">
              </div>
            <div class="card-body ">
                <div class="text-center">
              <h5 class="card-title"><b>{{result.title}}</b></h5>
                  </div>
            
                <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="container">
  <div class="row justify-content-left">
    <div class="col-sm">{{result.description}}</div>
  </div>
  </div>      
            </div>
          </div>
          </div>
        
      
      </div>
  </div>

</div>